In [2]:
'''
task 1 -> 1) Install Jupyter notebook and run the first program and share the screenshot of the output.

'''

print('Hurray! Jupyter notebook is installed and able to execute.')

Hurray! Jupyter notebook is installed and able to execute.

In [4]:
'''
task 1 -> 2) Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line
'''
source=2000
destination=3200
outputString=''
for i in range(source,destination+1):
    if i % 7 ==0 and i % 5 !=0:
        outputString=outputString+str(i)+','
    
print(outputString[:len(outputString)-1:1])

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [10]:
'''
Task 1 -> 3) Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.
'''
inputList=list()
outputString=''
firstName = str(input('Please enter your First Name:'))
inputList.append(firstName)
lastName = str(input('Please enter your Last Name:'))
inputList.append(lastName)
for i in inputList[::-1]:
    outputString=outputString+' '+i    
outputString.strip()

Please enter your First Name:Uday
Please enter your Last Name:Narayana

'Narayana Uday'

In [13]:
'''
Task 1 -> 4) Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r^3
'''
diameter= int(input('Enter the Diameter:'))
radius = diameter//2
pi=22/7
volume= (4/3)*pi*radius**3
volume

Enter the Diameter:12

905.142857142857

In [21]:
'''
Task 2 -> 1) Write a program which accepts a sequence of comma-separated numbers from console and
generate a list
'''
lst =list()
commaNumbers = str(input('Please enter comma-seperated numbers:'))
# split returning a list
for i in commaNumbers.split(','): 
    lst.append(int(i))
print(lst)

Please enter comma-seperated numbers:1,2,3,4,5,6,7,8,9,0
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [78]:
'''
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

'''
numLevels=5
a=1
for i in range(a,numLevels+1):
    print('* '*i,end='')
    print()
else:
    for i in range(numLevels-1,a-1,-1):
        print('* '*i,end='')
        print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [79]:
'''
Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA
'''
reverseWord='' 
inputWord=str(input('Enter the word AcadGild:'))
for i in inputWord[::-1]:
    reverseWord=reverseWord+i
reverseWord

Enter the word AcadGild:AcadGild

'dliGdacA'

In [83]:
'''
Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

Sample Output:
WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN, !
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
        and to secure to all its citizens
'''
inputString= 'WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{} and to secure to all its citizens'
print(inputString.format('\n\t','!\n\t\t','\n\t\t'))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens